.button-main {
    background-color: #E35B5B;
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    border: none;
    font-family: "Lilita One", sans-serif;
    font-size: xx-large;
}

.button-main:hover {
    color: white;
    box-shadow: 8px 8px 0px #ECC142;

}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
  }
  
  .custom-checkbox {
    display: inline-flex;
    align-items: center; /* Aligns items vertically in the center */
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .custom-checkbox .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, change the background color */
  .custom-checkbox input:checked ~ .checkmark {
    background-color: #E35B5B;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  

.checkbox-label {
    /* display: inline-block; */
    /* margin-right: 100px; */
}

.clickable-text {
    cursor: pointer;
    /* color: blue; */
}

.clickable-text:hover {
    /* text-decoration: underline; */
}

.h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.name-underline {
    color: lightgray;
}

.row.align-items-center {
    position: relative;
}

#race-settings-panel {
    display: none; /* Initially hidden */
    /* border: 1px solid #ccc;
    padding: 10px;
    background-color: white; */
}

.settings-desc {
    font-style: italic;
    font-size: 1em;
}

.card-body img {
    max-width: 100%;
    height: auto;
    display: block;
}