<!DOCTYPE html>
<html>
<head>
    <title>NPC Gachapon</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>    
<body>
    <div class="container my-4">
        <h1 class="display-4 text-center mb-4 font-weight-bold">NPC Gachapon</h1>

         <!-- GACHAPON SETTINGS -->
         <div id="gachapon-settings">
            <h5>Gachapon Machine Settings</h5>
            <div class="card mt-3 mb-3">
                <!-- General Attribute Settings -->
                <div id="general-attribute-settings" class="mt-3 mb-3 mx-3">
                    <div class="row">
                        <h5 class="col-8">General Attribute Settings</h5>
                        <div class="col-4 text-right">
                            <button name="button-reset-attributes" 
                                    id="button-reset-attributes" 
                                    class="btn btn-primary btn-sm">
                                    Deselect All
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-auto settings-desc">Roll the selected attributes:</p>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <label for="checkbox-first-initial" class="checbox-label">First Initial</label>
                            <input type="checkbox" id="checkbox-first-initial" name="checkbox-first-initial" checked>
                        </div>
                        <div class="col-auto">
                            <label for="checkbox-last-initial" class="checbox-label">Last Initial</label>
                            <input type="checkbox" id="checkbox-last-initial" name="checkbox-last-initial" checked>
                        </div>
                        <div class="col-auto">
                            <label for="checkbox-alignment" class="checbox-label">Alignment</label>
                            <input type="checkbox" id="checkbox-alignment" name="checkbox-alignment" checked>
                        </div>
                        <div class="col-auto">
                            <label for="checkbox-race" class="checbox-label">Race</label>
                            <input type="checkbox" id="checkbox-race" name="checkbox-race" checked>
                        </div>
                        <div class="col-auto">
                            <label for="checkbox-class" class="checbox-label">Class</label>
                            <input type="checkbox" id="checkbox-class" name="checkbox-class" checked>
                        </div>
                    </div>
                </div>
                <!-- Race Settings -->
                <div id="race-settings" class="mb-3 mx-3">
                    <div class="row">
                        <h5 class="col-8">Race Settings</h5>
                        <div class="col-4 text-right">
                            <button name="button-reset-races" 
                                    id="button-reset-races" 
                                    class="btn btn-primary btn-sm">
                                    Deselect All
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-auto settings-desc">Roll from the selected races:</p>
                    </div>
                    <div class="row">
                        {% for race in races %}
                            <div class="col-auto">
                                <label for="checkbox-race-{{ race }}" class="checkbox-label">{{ race }}</label>
                                <input type="checkbox" id="checkbox-race-{{ race }}" name="checkbox-race-{{ race }}" checked>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Class Settings -->
                <div id="race-settings" class="mb-3 mx-3">
                    <div class="row">
                        <h5 class="col-8">Class Settings</h5>
                        <div class="col-4 text-right">
                            <button name="button-reset-classes" 
                                    id="button-reset-classes" 
                                    class="btn btn-primary btn-sm">
                                    Deselect All
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-auto settings-desc">Roll from the selected classes:</p>
                    </div>
                    <div class="row">
                        {% for class_ in classes %}
                            <div class="col-auto">
                                <label for="checkbox-class-{{ class_ }}" class="checkbox-label">{{ class_ }}</label>
                                <input type="checkbox" id="checkbox-class-{{ class_ }}" name="checkbox-class-{{ class_ }}" checked>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- GPT Settings -->
                <div id="gpt-settings" class="mb-3 mx-3">
                    <div class="row">
                        <h5 class="col-8">GPT Settings</h5>
                    </div>
                    <div class="row">
                        <p class="col-auto settings-desc">Configure ChatGPT settings:</p>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <label for="checkbox-gpt-name" class="checkbox-label">Full Name</label>
                            <input type="checkbox" id="checkbox-gpt-name" name="checkbox-gpt-name" unchecked>
                        </div>
                        <div class="col-auto">
                            <label for="dropdown-gender">Select character gender:</label>
                            <select id="dropdown-gender" name="dropdown-gender">
                                {% for gender in genders %}
                                    <option value="{{ gender }}">{{ gender }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="dropdown-genre">Select game genre:</label>
                            <select id="dropdown-genre" name="dropdown-genre">
                                {% for genre in genres %}
                                    <option value="{{ genre }}">{{ genre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                <!-- Generate Character Button -->
                <button type="submit"
                        name="generate-attributes"
                        id="button-generate-character" 
                        value="generate-character" 
                        class="btn btn-primary btn-sm my-3 mx-3">
                        Generate Character
                </button>
            </div>
         </div>
         <!-- CHARACTER SHEET -->
         <div id="character-sheet">
            <h5>Character Sheet</h5>
            <div class="row">
                <div class="card col-6 mt-3 mb-3">
                    <div class="card-body">
                        <!-- <p id="p-first-initial" style="display: block;">
                            <span class="font-weight-bold clickable-text" onclick="rerollAttribute('first-initial')">First Name:</span> 
                            <span id="first-initial"></span>
                        </p> -->
                        <div id="first-name">
                            <label for="input-first-name">
                                <span class="font-weight-bold clickable-text" onclick="rerollAttribute('first-initial')">First Name:</span>
                            </label>
                            <input type="text" id="input-first-name" placeholder="?">
                        </div>
                        <!-- <p id="p-last-initial" style="display: block;">
                            <span class="font-weight-bold clickable-text" onclick="rerollAttribute('last-initial')">Last Name:</span> 
                            <span id="last-initial"></span>
                        </p> -->
                        <div id="last-name">
                            <label for="input-last-name">
                                <span class="font-weight-bold clickable-text" onclick="rerollAttribute('last-initial')">Last Name:</span>
                            </label>
                            <input type="text" id="input-last-name" placeholder="?">
                        </div>
                        <p id="p-gpt-name" style="display: none;">
                            <span class="font-weight-bold clickable-text">Full Name:</span> 
                            <span id="gpt-name"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold clickable-text" onclick="rerollAttribute('alignment')">Alignment:</span> 
                            <span id="alignment"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold clickable-text" onclick="rerollAttribute('race')">Race:</span> 
                            <span id="race"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold clickable-text" onclick="rerollAttribute('class')">Class:</span> 
                            <span id="class"></span>
                        </p>
                    </div>
                </div>
                <div class="card col-6 mt-3 mb-3">
                    <div class="card-body">
                        <img id="gpt-image" src="static/img/placeholder.jpg" alt="Character Portrait">
                    </div>
                    <button type="submit"
                        id="button-generate-image"    
                        name="generate-image"
                        value="generate-image" 
                        class="btn btn-primary btn-sm my-3 mx-3">
                        Generate Portrait
                </button>
                </div>
            </div>
         </div>
    </div>

    <script src="static/js/script.js"></script>  
</body>